---
title: About
---

<h1>Dear Cyberspace,</h1>


<p>I'm Ukaza Perdana, also known as ukazap, ukz, ukzie, or more recently ukzilla.</p>

<p>
  <img src="https://avatars3.githubusercontent.com/u/6721248?s=200&v=4" alt="selfie">
  <br>
  <small>This pic is fake, I have a rare condition called <em><a href="https://en.wikipedia.org/wiki/Resting_bitch_face">RBF</a></em>.</small>
</p>

<p>A <a href="https://www.ruby-lang.org/">Rubyist</a> currently based in Bali, Indonesia (Previously lived in Jakarta for 2 years). Born and grew up in the <a href="https://www.thejakartapost.com/life/2017/02/21/kediris-bah-kacung-tofu-tradition-matters.html">City of Tofu</a> (Kediri, East Java).</p>

<p>Enjoys laying a foundation on which other developers build. Pragmatically obsessed with automation and generalization.</p>

<p>I prefer being on my own but I'm not a sociopath, I won't ship crappy APIs that will make other developers suffer.</p>

<p>I despise meta-works and red tapes.</p>

<p>A fan of simple tools: I like my refrigerator dumb and not connected to the Internet.</p>

<p>I wish I could write better and use fewer first-person pronouns in my writings.</p>

<p>I hope we end the pandemic as soon as possible.</p>

<marquee direction="down" width="120" height="30" behavior="alternate">
  <marquee behavior="alternate">
    Happy New Year!
  </marquee>
</marquee>
