<div class="posts">
  <h1>Blog Posts</h1>
  <ul>
    <% sorted_articles.each do |article| %>
      <li>
        <a class="title" href="<%= article.identifier.without_ext %>"><%= article[:title] %></a>
        <br>
        <%= format_date(article[:created_at]) %>
      </li>
    <% end %>
  </ul>
</div>
