body {
  font-family: 'Noto Sans', sans-serif;
}

.turbo-progress-bar {
  height: 3px;
  background-color: #cc342d;
}

a {
  color: #cc342d;
}

nav {
  margin-top: 4em;
  margin-bottom: 3em;
}
  nav .nav-item {
    margin: 0.4em;
    font-size: 1.2em;
  }
  nav .site-name {
    font-weight: bold;
    border: 2px solid #cc342d;
    margin: 0em;
    padding: 0.4em;
    margin-right: 0.4em;
  }
  nav .site-name:hover {
    border-color: #606c76;
  }
  nav .nav-item .rss-icon {
    width: 1em;
    margin-bottom: -0.1em;
  }

article header h1 {
  margin-bottom: 0.1em;
}
article header .meta {
  font-size: 0.8em;
}
article .aside {
  display: block;
  margin: 1em;
  font-size: 0.9em;
}

@media (min-width: 80.0rem) {
  article {
    margin-right: 35%;
  }
  article .aside {
    display: inline;
    float: right; 
    position: relative; 
    width: 20vw;
    margin-right: -22vw;
    font-size: 0.8em;
  }  
}

footer {
  margin: 4em auto;
  font-size: 0.8em;
}
  footer .avatar img {
    border-radius: 100%;
  }